/* Style Sign Up */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff5733cc;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 120rem;
  height: 67.5rem;
  justify-content: start;
  align-items: center;
  background-color: var(--primary);
  gap: 1.5rem;
}

.wrapper h1 {
  color: white;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-up-container {
  width: 37.5rem;
  height: 44.87rem;
  justify-content: start;
  align-items: center;
  background-color: white;
  border-radius: 3.125rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container {
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: 44.87rem;
  justify-content: start;
  align-items: center;
  padding-top: 1.25rem;
  background-color: rgba(255, 87, 51, 0.6);
  border-radius: 3.125rem;
  gap: 1rem;
}

/* Heading */
.container h2 {
  color: black;
  text-align: center;
  font-family: "Montserrat";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Paragraft */
.container > p {
  color: black;
  text-align: center;
  font-family: "Lato";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 31.25rem;
  height: 33rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3.125rem;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.form-group-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 25.62rem;
  height: 4.31rem;
  /* background-color: blue; */
}

.form-group-content > label {
  color: black;
  text-align: center;
  align-items: center;
  font-family: "Lato";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400 bold;
  line-height: normal;
}

.form-group-content > input {
  width: 25.62rem;
  height: 2.5rem;
  line-height: normal;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
}

::placeholder {
  color: black;
  align-items: center;
  font-family: "Lato";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  opacity: 70%;
}

input[type="text"] {
  color: black;
  font-family: "Lato";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

input[type="email"] {
  color: black;
  font-family: "Lato";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

input[type="password"] {
  color: black;
  font-family: "Lato";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

button:active {
  background-color: #ffb7a7;
}

button {
  color: white;
  width: 25.62rem;
  height: 3.06rem;
  font-family: "Lato";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #ff5733;
  border-radius: 3.125rem;
  border: none;
}

.form-container > p:nth-child(2) {
  width: 25.62rem;
  color: black;
  text-align: center;
  font-family: "lato";
  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
}

.form-container > p:last-child {
  color: black;
  text-align: center;
  font-family: "lato";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-container > p > a {
  text-decoration: none;
  color: var(--primary);
}
/* Akhir Style Sign Up */
