* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ff5733;
}

.container h1 {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  font-weight: 1;
  color: #ffffff;
  margin-bottom: 60px;
}

.Sign-In {
  background: #ffab99;
  box-shadow: 0 3px 2px 0;
  border-radius: 25px;
  padding: 30px 40px;
}

.Sign-In h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 420px;
  background: #ffffff;
  color: #333333;
  border-radius: 40px;
  padding: 30px 40px;
}

form label {
  display: block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 70%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #333333;
  border-radius: 12px;
  font-size: 16px;
  color: #333333;
  font-family: 'Lato', sans-serif;
  padding: 20px 45px 20px 10px;
}

.input-box ::placeholder {
  color: #333333;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #ff5733;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
}

.wrapper .register-link {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  color: #333333;
}

.register-link p a {
  color: #ff5733;
  text-decoration: none;
  font-weight: 400;
}

.register-link p a:hover {
  text-decoration: underline;
}
